services:
  api:
    build:
      context: ./app
      dockerfile: Dockerfile 
    container_name: api
    ports:
      - "8000:8000"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://api:8000/ | exit 1"]
      interval: 15s
      timeout: 10s
      retries: 5
    cpus: "0.5"
    mem_limit: "500m"
    pids_limit: 100
  
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - /c/Users/PoolYard/Desktop/Monitoring/day4-monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      api:
        condition: service_started
    
  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    depends_on:
      prometheus:
        condition: service_started